* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  --grid-border: 4px solid #C6C6C6;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: url('./assets/background.png') no-repeat center center fixed, #7CA8FF;
  background-size: cover;
  font-family: 'seven', sans-serif;
  font-size: 110%;
  letter-spacing: 1px;
}

header {
  max-width: 720px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

header img {
  max-width: 70%;
  filter: drop-shadow(0 0 14px #000);
}

.grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  filter: drop-shadow(0 0 4px #000);
}

button {
  display: block;
  position: relative;
  padding: 7px;
  background: url('./assets/button.png') no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  letter-spacing: inherit;
  font: inherit;
  color: #fff;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
}

.grid-header span {
  color: #fff;
}

.grid {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 14px #000);
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 13vw;
  max-width: 150px;
  height: 13vw;
  max-height: 150px;
  padding: 10px;
  background: url('./assets/cell.png') no-repeat center center, #2C2C2C;
  background-size: cover;
  image-rendering: pixelated;
  box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.75), inset -2px -2px 2px 0px rgba(255, 255, 255, 0.75);
  color: #fff;
  cursor: pointer;
}

.cell.checked {
 background-image: url('./assets/cell_checked.png');
 color: #bbb;
}

button::after,
.cell::after {
  content: '';
  position: absolute;
  width: 100%; height:100%;
  top:0;
  left:0;
  background:#fff1;
  opacity: 0;
}

button:hover::after,
.cell:hover::after {
  opacity: 1;
}

.grid {
  border: var(--grid-border);
}

.row:not(:last-child) {
  border-bottom: var(--grid-border);
}

.cell:not(:last-child) {
  border-right: var(--grid-border);
}

@font-face {
	font-family: minecrafter;
	src: url('assets/Minecrafter_Alt.ttf');
}

@font-face {
	font-family: seven;
	src: url('assets/seven.ttf');
}

@media screen and (max-width: 900px) {
  .cell {
    font-size: 14px;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 560px) {
  .cell {
    font-size: 12px;
  }
}
