* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  --grid-border: 4px solid #C6C6C6;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  overflow-x: hidden;
  background: url('./assets/panorama2023.png') no-repeat center center fixed, #7CA8FF;
  background-size: cover;
  font-family: 'seven', sans-serif;
  font-size: 110%;
  letter-spacing: 1px;
}

header {
  max-width: 720px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

header img {
  max-width: 70%;
  filter: drop-shadow(0 0 14px #000);
}

.grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  filter: drop-shadow(0 0 4px #000);
}

button {
  display: block;
  position: relative;
  padding: 7px;
  background: url('./assets/button.png') no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  letter-spacing: inherit;
  font: inherit;
  color: #fff;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
}

.grid-header span {
  color: #fff;
}

.grid {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 14px #000);
  margin-bottom: 16px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 13vw;
  min-width: 90px;
  max-width: 15vh;
  height: 13vw;
  min-height: 90px;
  max-height: 15vh;
  padding: 10px;
  background: url('./assets/cell.png') no-repeat center center, #2C2C2C;
  background-size: cover;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.75);
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.cell.checked {
  background-image: url('./assets/cell_checked.png');
  color: #bbb;
}

.cell.free-space {
  background-image: url('./assets/cell_checked.png');
  color: #d0ff79;
  cursor: default;
}

.cell.free-space::after {
  content: none;
}

.cell.free-space::before {
  content: 'FREE SPACE';
  margin-bottom: 1em;
}

button::after,
.cell::after {
  content: '';
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  background: #fff1;
  opacity: 0;
}

button:hover::after,
.cell:hover::after {
  opacity: 1;
}

.grid {
  border: var(--grid-border);
}

.row:not(:last-child) {
  border-bottom: var(--grid-border);
}

.cell:not(:last-child) {
  border-right: var(--grid-border);
}

@font-face {
	font-family: seven;
	src: url('assets/seven.ttf');
}

@media screen and (max-width: 960px) {
  .cell {
    font-size: 14px;
    letter-spacing: 0px;
  }
}

@media screen and (max-height: 890px) {
  .cell {
    font-size: 14px;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 580px) {
  body {
    align-items: stretch;
  }

  .cell {
    font-size: 11px;
    padding: 5px;
    width: calc(20vw - 14px);
    height: calc(20vw - 14px);
    min-width: unset;
    min-height: unset;
    max-width: unset;
    max-height: unset;
  }

  .grid-header {
    margin-left: 16px;
    margin-right: 16px;
  }
}
/* 
@media screen and (max-height: 900px) {
  .cell {
    width: 13vh;
    height: 13vh;
  }
} */
